*
{
	margin: 0em;
	padding: 0em;
}

#all
{
	background:url(//127.0.0.1/projects/projetwebsite/bg.jpg);
}
#header
{
	text-align:center;
	width:100%;
	text-align:center;
}

#panneau
{
	margin:0 auto;
	height:80px;
	text-align:center;
	width:80%;

}

#login
{
	position:absolute;
	font-size:20px;
	float:right;
	top:0px;
	height:80px;
}

#logo
{
	height:80px;
}

#navigator
{
	height:21px;
	margin-top:0px;
	margin-bottom:0px;
}

ul
{
	height:21px;
	width:80%;
	margin:0 auto;
	background:white;
}

li
{
	display:inline;
	width:200%;
	font-size:20px;
	color:black;
	text-decoration: none;
}

li a:link
{
	padding: 0px 40px 0px 40px;
	background:white;
	background-origin:border-box;
	color:black;
	text-decoration: none;
}

li a:visited
{
	color:black;
	text-decoration: none;
}

li a:hover
{
	background:#779ffd;
	background-origin:border-box;
	color:black;
	text-decoration: none;
}

li a:active
{
	color:black;
	text-decoration: none;
}

#content_back
{
	text-align:center;
	width:100%;
}

#content
{
	text-align:left;
	margin:0 auto;
	width:80%;
	height:500px;
	background:#779ffd;
	padding: 40px 0px 40px 0px;
	background-origin:border-box;
}

